<footer class="footer __js_fixed-footer">
      <div class="footer__inner container">
        <div class="row">
          <div class="footer__column col-12 col-sm">
            <a class="footer__logo logo--borderless logo">
              <span class="logo__large">Московский Центр Финансирования</span>
              <center><span class="logo__small">Ваш надежный партнер</span></center>
              <center><span class="logo__small">Разработка и запуск в космос <span class="color-yellow" href="https://t.me/pashadark" target="_blank">Pavel Tur 🚀</span></center>
              <center><span class="logo__small">2021</span></center>
            </a>
          </div>
          <!-- Copyrights-->
          <div class="footer__column col-12 col-lg order-2 order-lg-0">

            <!-- Footer menu-->
          </div>
          <div class="footer__column col-6 col-sm">
            <ul class="footer__column-menu">
              <li class="footer__column-item">
                <a class="footer__column-link animsition-link" href="#">Карта сайта</a>
              </li>
              <li class="footer__column-item">
                  <a class="footer__column-link animsition-link" href="#">Условие</a>
              </li>
              <li class="footer__column-item">
                <a class="footer__column-link animsition-link" href="#">Политика конфиденциальности</a>
              </li>
              <li class="footer__column-item">
                <a class="footer__column-link animsition-link" href="#">Онлайн поддержка</a>
              </li>
            </ul>
          </div>
          <!-- Footer menu-->
          <div class="footer__column col-6 col-sm">
            <ul class="footer__column-menu">
              <li class="footer__column-item">
                <a class="footer__column-link animsition-link" href="#">Новости</a>
              </li>
              <li class="footer__column-item">
                <a class="footer__column-link animsition-link" href="#">Карьера</a>
              </li>
              <li class="footer__column-item">
                <a class="footer__column-link animsition-link" href="about.html">О нас</a>
              </li>
              <li class="footer__column-item">
                <a class="footer__column-link animsition-link" href="contact.html">Калькулятор</a>
              </li>
              <li class="footer__column-item">
                <a class="footer__column-link animsition-link" href="contact.html">Контакты</a>
              </li>
            </ul>
          </div>
          <div class="footer__column col-12 col-lg-1 order-md-1 order-lg-0">
            <ul class="footer__lang-switcher lang-switcher lang-switcher--footer">
              <li class="lang-switcher__item">
                <a class="lang-switcher__link lang-switcher__link--current">Rus</a>
              </li>
              <li class="lang-switcher__item">
                <a class="lang-switcher__link" href="#">Eng</a>
              </li>
              <li class="lang-switcher__item">
                <a class="lang-switcher__link" href="#">Ger</a>
              </li>
            </ul>
          </div>
          <div class="footer__column footer__column col-12 col-md col-lg-3 col-xl-2">
            <!-- Social-->
            <ul class="footer__social social">
              <li class="social__item">
                <a class="social__link" href="#" target="_blank">
                  <svg width="20" height="20" aria-label="facebook icon">
                    <use xlink:href="#facebook"></use>
                  </svg>
                  <span class="visually-hidden">facebook</span>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#" target="_blank">
                  <svg width="20" height="20" aria-label="twitter icon">
                    <use xlink:href="#twitter"></use>
                  </svg>
                  <span class="visually-hidden">twitter</span>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#" target="_blank">
                  <svg width="20" height="20" aria-label="google-plus icon">
                    <use xlink:href="#google-plus"></use>
                  </svg>
                  <span class="visually-hidden">google-plus</span>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#" target="_blank">
                  <svg width="20" height="20" aria-label="linkedin-original icon">
                    <use xlink:href="#linkedin-original"></use>
                  </svg>
                  <span class="visually-hidden">linkedin-original</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  <section class="popup popup--thanks" id="thanks" style="display: inline">
      <div class="popup__title">/</div>
    </section>
    </footer>

